<div id="<%= dom_id devlog %>">
  <p>
    <strong>Devlogs:</strong>
    <%= devlog.devlogs %>
  </p>

  <p>
    <strong>Deviceid:</strong>
    <%= devlog.deviceid %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= devlog.data %>
  </p>

</div>
