<h1>Editing dispositivo</h1>

<%= render "form", dispositivo: @dispositivo %>

<br>

<div>
  <%= link_to "Show this dispositivo", @dispositivo %> |
  <%= link_to "Back to dispositivos", dispositivos_path %>
</div>
